body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

label, textarea, button, p {
    width: 100%;
}

label {
    margin-top: 10px;
}

textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(206, 205, 205);
    border: none;
    outline: 0;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    margin: auto;
    height: 100px;
    resize: none;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}